html {
    font-size: 0.85em;
    color: gray;
    position: relative;
    min-height: 100%;
    font-family: "Exo2-Light";
}

body {
    background-color: #202020;
    margin-bottom: 5em;
    font-family: "Exo2-Light";
    color: gray;
}

.bg-darkgray {
    background-color: #3A3A3A;
}

@font-face {
    font-family: "Exo2-SemiBold";
    src: url(../fonts/Exo2-SemiBold.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Exo2-Light";
    src: url(../fonts/Exo2-Light.ttf);
    font-display: swap;
}

@media (min-width: 53em) {
    html {
        font-size: 1em;
    }
}

nav {
    line-height: 2em;
}

h1 {
    margin: 3em;
    text-align: center;
}

a, h1, h2, h3, h4, h5, h6 {
    color: darkgray;
    font-family: "Exo2-SemiBold";
}

footer {
    margin: 1em;
    padding: 1em;
    font-size: 75%;
}

div {
    margin: 0.5em;
}

.vertical-separated {
    margin: 2.5em auto;
}

.picture-format {
    /*display: block;*/
    /*margin: 0 auto 0 auto;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*object-fit: cover;*/
    border-radius: 1em;
    box-shadow: 0 0 3em -0.5em black;
}

.image-footer {
    text-align: center;
    font-size: 75%;
}

/* unvisited link */
a:link {
    color: darkgray;
}

/* visited link */
a:visited {
    color: darkgray;
}

/* mouse over link */
a:hover {
    color: #E0AAFF;
}

/* selected link */
a:active {
    color: white;
}
