table, th {
    text-align: center !important;
    border: 0.075em solid #072227;
    background-color: #4FBDBA;
    color: #072227;
    position: relative;
    padding: 1em;
}

.td-unavailable {
    border: 0.05em dotted #FF5C8D;
    background-color: #FFC0D3;
    color: #FF5C8D;
    width: 2.5em;
    height: 2.5em;
}

td {
    text-align: center !important;
    border: 0.05em dotted #70AF85;
    background-color: #C6EBC9;
    color: #70AF85;
    width: 2.5em;
    height: 2.5em;
}
